<div class="p-2 pt-3 mx-4">
    <h2>Contato</h2>
    <hr>
    <p>Estamos disponíveis para atendê-lo e responder a quaisquer perguntas que você possa ter. Abaixo você encontrará nossas informações de contato:</p>
    
    <div class="row">
        <div class="col-md-7">
            <p class="fw-bold mb-0">Endereço:</p>
            <p class="mb-0">Rua Exemplo, 123</p>
            <p class="mb-0">Cidade, Estado</p>
            <p>CEP 12345-678</p>

            <p class="fw-bold mb-0">Telefone:</p>
            <p>(12) 3456-7890</p>

            <p class="fw-bold mb-0">E-mail:</p>
            <p>exemplo@loja.com</p>
        </div>
        <iframe class="col-md-5 mb-3" style="height: 300px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60403.08915139612!2d-41.9760766005993!3d-18.8785140491415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb1a7947c2e06c7%3A0x76454399f628aa6f!2sGov.%20Valadares%2C%20MG!5e0!3m2!1spt-BR!2sbr!4v1686332132484!5m2!1spt-BR!2sbr" style="border:0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <p>Estamos abertos de segunda a sexta-feira, das 9h às 18h. Ficaremos felizes em ajudar e responder a todas as suas
        perguntas. Sinta-se à vontade para nos contatar por telefone ou e-mail, e faremos o possível para fornecer um
        excelente atendimento ao cliente.</p>
    <p>Agradecemos seu interesse em nossa loja e esperamos poder ajudá-lo em breve!</p>
</div>