<div class="p-3">
    <h3>Fim da demonstração</h3>
    <hr>
    <p>Como este site é apenas uma demonstração, o recurso de pagamentos não está implementado.</p>
    <p>Para ver outras demonstrações (incluindo algumas que utilizam APIs), <a href="http://raphaelceccato.github.io">visite o meu portifólio!</a></p>
    <br>
    <a href="/" class="btn btn-success d-block mx-auto" style="width: 160px">Voltar para o início</a>
</div>