body {
    background-color: rgb(201, 223, 201);
    padding-top: 56px; /* navbar height */
}


.navbar {
    background-color: rgb(129, 180, 129) !important;
}


#menu {
    width: 240px;
    min-height: 500px;
}


.btn, .form-control {
    border-radius: 0;
}